<%- include('../includes/page-start.ejs') %>
  <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="input-form-wrap">
    <% if (errorMessage) { %>
      <p class="error-message"><%= errorMessage %></p>
    <% } %>
    <form class="forgot-password-form" action="/forgot-password" method="POST">
      <div class="form-control">
        <label for="email">Enter Email:</label>
        <input type="text" id="email" name="email">
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type="submit" class="btn-action">Reset Password</button>
    </form>
  </main>
  
<%- include('../includes/page-end.ejs') %>
