<%- include('../includes/page-start.ejs') %>
  <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="input-form-wrap">
    <% if (errorMessage) { %>
      <p class="error-message"><%= errorMessage %></p>
    <% } %>
    <form class="reset-password-form" action="/reset-password" method="POST">
      <div class="form-control">
        <label for="newPassword">New Password:</label>
        <input type="password" id="new-password" name="newPassword">
      </div>
      <div class="form-control">
        <label for="confirmPassword">Confirm New Password:</label>
        <input type="password" id="confirm-password" name="confirmPassword">
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="hidden" name="userId" value="<%= userId %>">
      <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
      <button type="submit" class="btn-action">Reset Password</button>
    </form>
  </main>
  
<%- include('../includes/page-end.ejs') %>
