<%- include('../includes/page-start.ejs') %>
  <link rel="stylesheet" href="/css/product.css">
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  
  <main class="content-area">
    <% if(products.length > 0) { %>
      <div class="products">
        <% for(let product of products) { %>
          <article class="card product-item">
            <header class="card-header">
              <h4 class="product-title">
                <%= product.title || product.productId.title %> 
                <% if (product.CartItem) { %> 
                  (<%= product.CartItem.quantity %>) 
                <% } else { %>
                  (<%= product.quantity %>)
                <% } %>
              </h4>
              <form action="/cart-delete-item" method="POST">
                <input type="hidden" value="<%= product._id || product.id %>" name="cartItemId">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn-action" type="submit">Delete</button>
              </form>
            </header>
            <div class="card-banner">
              <img class="product-image" src="<%= product.imageUrl || product.productId.imageUrl %>" alt="<%= product.title || product.productId.title %>" />
            </div>
            <div class="card-content">
              <h5 class="product-price">$<%= product.price || product.productId.price %></h5>
              <p class="product-description"><%= product.description || product.productId.description %></p>
            </div>
          </article>
        <% } %>
      </div>
      <div class="checkout-container centered-text">
        <a href="/checkout" class="checkout-link btn-action">Checkout</a>
      </div>
    <% } else { %>
      <h2>No products in cart</h2>
    <% } %>
  </main>

<%- include('../includes/page-end.ejs') %>
