<%- include('../includes/page-start.ejs') %>
  <link rel="stylesheet" href="/css/product.css">
</head>
<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="products">
    <% if(prods.length > 0) { %>
      <% for(let prod of prods) { %>
        <article class="card product-item">
          <header class="card-header">
            <h4 class="product-title"><%= prod.title %></h4>
          </header>
          <div class="card-banner">
            <img class="product-image" src="<%= prod.imgUrl %>" alt="<%= prod.title %>" />
          </div>
          <div class="card-content">
            <h5 class="product-price">$<%= prod.price %></h5>
            <p class="product-description"><%= prod.description %></p>
          </div>
          <div class="card-footer">
            <button class="btn-action">Add to cart</button>
          </div>
        </article>
      <% } %>
    <% } else { %>
      <h2>No products found</h2>
    <% } %>
  </main>

<%- include('../includes/page-end.ejs') %>
