<%- include('../includes/page-start.ejs') %>
  <link rel="stylesheet" href="/css/product.css">
</head>
<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="products">
    <% if(prods && prods.length > 0) { %>
      <% for(let product of prods) { %>
        <article class="card product-item">
          <header class="card-header">
            <h4 class="product-title"><%= product.title %></h4>
          </header>
          <div class="card-banner">
            <img class="product-image" src="<%= product.imageUrl %>" alt="<%= product.title %>" />
          </div>
          <div class="card-content">
            <h5 class="product-price">$<%= product.price %></h5>
            <p class="product-description"><%= product.description %></p>
          </div>
          <div class="card-footer">
            <a href="/products/<%= product.id %>" class="btn-action">Details</a>
            <%- include('../includes/add-to-cart.ejs', {product: product}) %>
          </div>
        </article>
      <% } %>
    <% } else { %>
      <h2>No products found</h2>
    <% } %>
  </main>

<%- include('../includes/page-end.ejs') %>
